apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: dummy-fake-store
spec:
  provider:
    fake:
      data:
        - key: db-user
          value: <DB_USER_HERE>
        - key: db-password
          value: <DB_PASSWORD_HERE>
        - key: api-username
          value: <API_USERNAME_HERE>
        - key: api-password
          value: <API_PASSWORD_HERE>
